<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive</title>
</head>
<body>
<h1>Drive</h1>
      Welcome <%= user.username %>
      <a href="/logout">Log out</a>
<ul>
<%- include('partials/upload-form') %>
<%- include('partials/create-folder-form', { parentId }) %>
<% locals.files.forEach(file => { %>
    <% if (file.type === 'DIR') { %>
        <li><a href="<%= `/drive/${file.id}` %>"><%= file.name %></a></li>
    <% } else { %>
        <li><a href="<%= `/drive/download/${file.id}` %>"><%= file.name %></a></li>
    <% } %>
<% }) %>
</ul>
</body>
</html>
