<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive</title>
</head>
<body>
<h1>Drive</h1>
    <a href="/">Home</a>
      Welcome <%= user.username %>
      <a href="/logout">Log out</a>
<ul>
<h3><%= locals.folderName ?? "Drive" %></h3>
<% if (locals.folderName !== undefined) { %>
    <form action="<%= `/drive/${parentId}/rename` %>" method="POST">
    <input type="hidden" name="id" value="<%= locals.parentId %>">
    <input type="text" name="name" value="<%= locals.folderName %>">
    <button type="submit">Rename</button>
</form>
<% } %>
<%- include('partials/upload-form', { parentId } ) %>
<%- include('partials/create-folder-form', { parentId }) %>
<% locals.files.forEach(file => { %>
<li>
    <% if (file.type === 'DIR') { %>
        Folder: <a href="<%= `/drive/${file.id}` %>"><%= file.name %></a>
    <% } else { %>
        File <a href="<%= `/drive/download/${file.id}` %>"><%= file.name %></a>
    <% } %>
    <form action="<%= `/drive/${file.id}/delete` %>" method="POST"><button type="submit">Delete</button></form>
    </li>
<% }) %>
</ul>
</body>
</html>
